<div id="declaration">
  <h1><%= @up.declaration %></h1>
</div>
<div class="user"><%= @up.name %></div>

<div id="show-form">One Up Them</div>
<div class="form">
  <%= render 'form' %>
</div>

<footer>
  Crafted at <a href="http://generalassemb.ly">General Assembly</a> by <a href="#">Adrian</a>, <a href="http://dcoates.com">Dustin</a>, <a href="#">Jon</a>, <a href="#">Larry</a>, and you.
</footer>