$teal: #15838e;
$dark-teal: #0f717a;

$green: #abd9be;
$dark-green: #94bea6;

$yellow: #f1c337;
$dark-yellow: #d0aa30;

$red: #ee3c2a;
$dark-red: #ce3424;

$light-gray: #e6e7e8;
$dark-light-gray: #bbbdc0;

$gray: #404041;
$dark-gray: #2f2d2e; 