<!DOCTYPE html>
<html>
<head>
  <title>OneUp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script type="text/javascript" src="http://srobbin.github.com/jquery-pageslide/jquery.pageslide.min.js"></script>
<script>
    $(".second").pageslide({ direction: "left" });
</script>

</body>
</html>
